extends layout

block content
  h1= title
  p Welcome to #{title}

  script(type='text/javascript').
    var sched = later.parse.text('every 5 minutes'),
       occurrences = later.schedule(sched).next(10);
    for (var i = 0; i < 10; i++) {
      console.log(occurrences[i]);
    }