//
   Created by wangkexue on 2015/5/14.
extends layout_boot_div
block content
   div.container-fluid
      p 使用单一的一组 <code>.col-md-*</code> 栅格类，就可以创建一个基本的栅格系统，在手机和平板设备上一开始是堆叠在一起的（超小屏幕到小屏幕这一范围），在桌面（中等）屏幕设备上变为水平排列。所有“列（column）必须放在 ” <code>.row</code> 内。</p>
      div.row.show-grid
         .col-md-1
            p .col-md-1
         .col-md-1 .col-md-1
         .col-md-1 .col-md-1
         .col-md-1 .col-md-1
         .col-md-1 .col-md-1
         .col-md-1 .col-md-1
         .col-md-1 .col-md-1
         .col-md-1 .col-md-1
         .col-md-1 .col-md-1
         .col-md-1 .col-md-1
         .col-md-1 .col-md-1
         .col-md-1 .col-md-1
      div.row.show-grid
         .col-md-1
            div.row.show-grid
             .col-md-6 6
             .col-md-6 6
         .col-md-1
            div.row.show-grid
               .col-md-6 6
               .col-md-6 6
         .col-md-1
            div.row.show-grid
               .col-md-6 6
               .col-md-6 6
         .col-md-1
            div.row.show-grid
               .col-md-6 6
               .col-md-6 6
         .col-md-1
            div.row.show-grid
               .col-md-6 6
               .col-md-6 6
         .col-md-1
            div.row.show-grid
               .col-md-6 6
               .col-md-6 6
         .col-md-1
            div.row.show-grid
               .col-md-6 6
               .col-md-6 6
         .col-md-1
            div.row.show-grid
               .col-md-6 6
               .col-md-6 6
         .col-md-1
            div.row.show-grid
               .col-md-6 6
               .col-md-6 6
         .col-md-1
            div.row.show-grid
               .col-md-6 6
               .col-md-6 6
         .col-md-1
            div.row.show-grid
               .col-md-6 6
               .col-md-6 6
         .col-md-1
            div.row.show-grid
               .col-md-6 6
               .col-md-6 6
      div.row.show-grid
         .col-md-4 .col-md-4
         .col-md-8 .col-md-8
      div.row.show-grid
         .col-md-6 .col-md-6
         .col-md-6 .col-md-6
      div.row.show-grid
         .col-md-4 .col-md-4
         .col-md-4 .col-md-4
         .col-md-4 .col-md-4
