//
   Created by wangkexue on 2015/5/14.
doctype html
html
   head
      title= title
      link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
      link(rel='stylesheet', href='/stylesheets/style_boot_div.css')
      script(src='/javascripts/jquery-2.1.4.min.js')
      script(src='/javascripts/bootstrap.min.js')
   body
      block content
