<!DOCTYPE html>
<html>
<head>
  <link href="/stylesheets/bootstrap.css" rel="stylesheet" media="screen" />
  <script type="text/javascript" src="/javascripts/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap-paginator.min.js"></script>
</head>
<body>
<div class="container">
  <!-- 代码片段 分页控件 -->
  <div class="span12">
    <div id="page1"></div>
  </div>

  <!-- 代码片段 查询结果 -->
  <div class="span12">
    <table class="table table-hover table-striped">
    </table>
  </div>
</div>
<!-- 代码片段 -->
<script type="text/javascript">
  $(function(){
    //分页功能
    var options = {
      currentPage:2,
      totalPages:5,
      numberOfPages:5,
      pageUrl: function(type, page, current){
        return "/admin/movie?p="+page;
      }
    }
    $('#page1').bootstrapPaginator(options);

  })
</script>

</body>
</html>